.admin-main-title {
  margin: 1rem 2rem 3rem 2.5rem;
}

.admin-filter-section {
  margin-left: 3rem;
  display: flex;
  gap: 2rem;
}

.button-normal {
  all: unset;
  margin-bottom: 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 0.9rem;
  padding: 0.4rem 3rem;
  text-align: center;
  cursor: pointer;
}

.button-active {
  all: unset;
  margin-bottom: 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 800;
  font-size: 0.9rem;
  padding: 0.4rem 3rem;
  text-align: center;
  cursor: pointer;
}

.admin-cards-section {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem auto 3rem auto;
}

.admin-cards,
.admin-cards-confirmed {
  width: 25rem;
  padding: 3rem;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.admin-cards-confirmed {
  background-color: var(--secondary-color);
}

.admin-cards:hover,
.admin-cards-confirmed:hover {
  transition-duration: 0.8s;
  transition-timing-function: ease;
  margin-top: -1rem;
  box-shadow: 0px 1rem 1rem 0.5rem rgb(28, 31, 40, 0.3);
  cursor: pointer;
}

.admin-cards > p,
.admin-cards > a,
.admin-cards-confirmed > p,
.admin-cards-confirmed > a {
  line-height: 1.5rem;
  color: var(--primary-color);
}

.admin-cards > a,
.admin-cards-confirmed > a {
  text-decoration: underline;
}

.admin-cards > p:first-of-type,
.admin-cards-confirmed > p:first-of-type {
  font-weight: 600;
}

.admin-cards > p:last-of-type,
.admin-cards-confirmed > p:last-of-type {
  margin-top: -2rem;
  font-size: 0.9rem;
  font-style: italic;
}

.admin-section-forms > form > button {
  all: unset;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  width: 8rem;
}

.admin-section-forms > form > button:first-of-type {
  margin-bottom: 1.5rem;
}

.admin-section-forms > form > button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.admin-cards-confirmed > .admin-section-forms > form > button {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.admin-confirmed-sentence {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
